           
                
                #mainbtn {
                    background-color: #333;
                    width: 600px;
                    height: 300px;
                    border-radius: 30px;
                }

                    h1 { 
                        color: white;
                        background-color: #99041d;
                        border-top-right-radius: 30px;
                        border-top-left-radius: 30px;
                    }
                    
                    .text{
                        background-color: #333;
                        color: white;
                        width: 250px;
                        font-weight: bold;
                        font-size: 20px;
                        border: none;
                    }

                        .text:focus{
                            outline: none;
                        }

                        hr{
                            width: 250px;
                            margin-top: 0px !important;
                        }

                        #logn{
                            width: 250px;
                            height: 30px;
                            background-color: #99041d;
                            
                        }
                            .log {
                                width: 70px;
                                height: 30px;
                                background-color: #99041d;
                                margin-bottom: 20px;
                                float: right;
                                font-weight: 300;
                                color: white;
                            }

